.keyboard-area {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  padding: 0 0.5rem;
  box-sizing: border-box;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  align-self: center;
}

.key.correct {
  background-color: #6aaa64;
  /* green */
  border-color: #6aaa64;
  color: white;
}

.key.present {
  background-color: #c9b458;
  /* yellow */
  border-color: #c9b458;
  color: white;
}

.key.absent {
  background-color: #787c7e;
  /* grey */
  border-color: #787c7e;
  color: white;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.75rem 0.5rem;
  background-color: #ddd;
  border-radius: 0.3rem;

  font-weight: bold;
  text-transform: uppercase;

  flex: 1 1 0;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;

  cursor: pointer;
}

.key:hover {
  filter: brightness(90%);
}

.key:focus {
  outline: 2px solid #000;
  outline-offset: 2px;
}